@mixin orbitron($weight: 400) {
	/* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
	font-family: Orbitron;
	font-optical-sizing: auto;
	font-weight: $weight;
	font-style: normal;
}
