@mixin roboto($weight: 400, $style: normal) {
	font-family: 'Roboto Mono', serif;
	font-optical-sizing: auto;
	font-weight: $weight;
	font-style: $style;
}

@mixin inter($weight: 400, $style: normal) {
	font-family: Inter, serif;
	font-optical-sizing: auto;
	font-weight: $weight;
	font-style: $style;
}
