// colors
$primary-color: #fff;
$accent-color: #42ade2;

// background
$primary-background: linear-gradient(270deg, #061651 0%, #000c39 100%);
$geopy-background: linear-gradient(
	180deg,
	rgb(6 22 81 / 50%) 0%,
	rgb(6 22 81 / 50%) 100%
);
