.header {
	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 22px 0;
	}
}

.menu {
	&__list {
		display: flex;
		gap: 40px;
		align-items: center;
		justify-content: space-between;

		list-style: none;
	}

	&__item {
		font-size: 20px;
		line-height: 1.5;
	}

	&__link {
		color: inherit;
		text-decoration: none;
	}
}

.logo {
	color: inherit;
}
